*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px; /* defining the rem unit to 16px */
}

body {
  margin: 0;
  font-family: "Roboto";
}

.main {
  background-color: #23424a;
  padding: 5rem 0;
}

.container {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

.main__text {
  color: white;
  width: 80%;
}

.main__text--title {
  font-size: 3rem;
  font-weight: 900;
}

.main__text--paragraph {
  font-size: 2rem;
  font-weight: 400;
}

.main__text--link {
  font-size: 21px;
  font-weight: 700;
}

.button {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 100px;
  background-color: #38cfd9;
  text-decoration: none;
  margin-top: 3rem;
  text-transform: uppercase;
  color: #23424a;
}

.button:hover,
.button:focus {
  opacity: 0.5;
}
