:root {
  --oswald: "Oswald";
  --montserrat: "Montserrat";
  --dark: #2e323f;
  --middle: #3b4050;
  --gray: #6f737f;
  --white: #fff;
  --brown: #a59678;
  --soft: #f3f2f2;
}

html {
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: min(85%, 1200px);
  margin: 0 auto;
}

.nav {
  background-color: var(--dark);
  font-family: var(--oswald);
  color: var(--white);
  font-size: 1.125rem;
  padding: 2rem 0;
  text-align: right;
}

.nav-toggle--button {
  color: var(--brown);
  text-decoration: none;
  padding: 0.5rem 1rem;
  background-color: var(--white);
  display: inline-block;
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: 900;
}

.nav-toggle--caption {
  display: inline;
  font-size: 1.25rem;
}

.nav-toggle--button-rotate {
  transform: rotate(180deg);
  margin-bottom: 1.5rem;
}

.nav-toggle--visible {
  display: none;
}

/* different CRL button */
.nav__menu--primary .nav__link {
  padding: 0.5rem;
  border: 2px solid var(--brown);
  border-radius: 50%;
}

.nav__menu--primary .nav__link:hover,
.nav__menu--primary .nav__link:focus {
  background-color: var(--brown);
  opacity: 1;
}

.nav__menu {
  padding-left: 0;
  list-style: none;
  text-align: center;
}

/* remove margin-top for the first nav__item element */
.nav__menu--primary .nav__item {
  margin-top: 0;
}

.nav__item {
  text-transform: uppercase;
  margin-top: 1.25rem;
}

.nav__link {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}

.nav__link:hover,
.nav__link:focus {
  opacity: 0.5;
}

.nav__link--button {
  padding: 0.25rem 1rem;
  background-color: var(--brown);
  border-radius: 9rem;
  color: var(--white);
}

.nav__link--button:hover,
.nav__link--button:focus {
  color: var(--brown);
  background-color: var(--white);
  opacity: 1;
}

.hero {
  background-color: var(--middle);
  color: var(--white);
  padding: 5rem 0;
}

.hero__title {
  text-align: center;
  font-size: 3rem;
  font-family: var(--oswald);
  line-height: 1.25;
  padding-bottom: 3rem;
}

.hero__title--ascent {
  color: var(--brown);
}

.hero__description {
  padding-bottom: 1rem;
  color: var(--gray);
  font-size: 1rem;
  font-family: var(--montserrat);
}

.hero__link {
  display: inline-block;
  text-decoration: none;
  padding: 0.25rem 1rem;
  color: var(--white);
  background-color: var(--brown);
  border-radius: 9rem;
  text-transform: uppercase;
  font-family: var(--oswald);
}

.hero__link:hover,
.hero__link:focus {
  opacity: 0.5;
}

.feature {
  background-color: var(--soft);
  color: var(--dark);
  padding: 3rem 0;
}

.feature__title {
  color: var(--brown);
  padding-bottom: 2rem;
  font-family: var(--oswald);
  font-size: 1.5rem;
  text-align: center;
}

.feature__description {
  color: var(--gray);
  font-family: var(--montserrat);
  font-size: 1rem;
  margin-bottom: 2rem;
}

/* select 3rd direct child of .main who is also a .feature */
.main > .feature:nth-child(3) {
  background-color: var(--white);
}

.feature__image {
  max-width: 100%;
  margin-bottom: 2rem;
}

.feature--darkbg {
  background-color: var(--dark);
}

.feature__title--ascent {
  color: var(--white);
}

.feature__description--ascent {
  color: var(--gray);
  text-align: center;
}

.footer {
  background-color: var(--dark);
  padding: 3rem 0;
}

.footer__title {
  color: var(--brown);
  font-family: var(--oswald);
  font-size: 3rem;
  line-height: 0.9;
  margin-bottom: 5rem;
  text-align: center;
}

.about__subtitle {
  color: var(--brown);
  margin-bottom: 1rem;
  font-family: var(--oswald);
}

.about__description {
  margin-bottom: 1rem;
  color: var(--gray);
  font-family: var(--montserrat);
  font-size: 0.85rem;
  text-align: justify;
}

.about__link {
  text-decoration: none;
  color: var(--gray);
  display: inline-block;
}

.about__link:hover,
.about__link:focus {
  color: var(--white);
}

@media screen and (min-width: 768px) {
  .container {
    width: min(90%, 1200px);
  }

  .nav-toggle--visible {
    display: block;
  }

  .nav-toggle--button {
    display: none;
  }

  .nav-toggle--caption {
    display: none;
  }

  .nav-row {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    gap: 1rem;
  }

  .nav-column {
    display: flex;
  }

  .nav {
    padding: 0.85rem 0;
  }

  .nav__menu {
    display: flex;
  }

  .nav__item {
    margin-top: 0;
    margin-left: 1rem;
  }

  .nav__menu--primary .nav__item {
    margin-left: 0;
  }

  .hero-row {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 2rem;
  }

  .hero {
    padding: 5rem 0;
  }

  .hero__title {
    padding-bottom: 0;
  }

  .feature-row {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .feature-column--bg-white {
    background-color: var(--white);
  }

  .feature-row--two-columns {
    margin: 5rem 4rem;
  }

  .footer-row {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
  }

  .about--smaller {
    width: 50%;
  }
}
